<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.datc.testscript.CreateGroupRoleTest"/>
      <class name="com.qa.datc.testscript.CreateRoleTestscript"/>
      <class name="com.qa.datc.testscript.Login_T"/>
      <class name="com.search.testscript.Search_Validations"/>
      <class name="com.search.testscript.Search"/>
      <class name="com.search.testscript.GroupSearchValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
